.swap {
  margin: 0 auto;
  width: 463px;
  border-radius: 8px;
  padding: 0 24px;
}
.header {
  position: relative;
  height: 78px;
  line-height: 78px;
  text-align: center;
  font-size: 22px;
  font-family: Helvetica-Bold, Helvetica;
  font-weight: bold;
  color: #ffffff;
}
.settings {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.from {
  font-size: 18px;
  line-height: 1.5;
  font-family: Helvetica;
  color: #ffffff;
}
.fromInput {
  display: flex;
}
.fromInput input {
  flex: 1;
}

.inputSize {
  font-size: 30px;
}
