.nswaplogo {
  width: 110px;
  height: 43px;
}

.header {
  text-align: center;
}
.menuBox {
  font-size: 18px;
  font-family: Helvetica;
  color: #ffffff;
  padding: 0 8px;
  text-transform: none;
  position: relative;
}
.selectedBox::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #06f588;
  border-radius: 1px;
}
.menuBox:hover {
  cursor: pointer;
  font-weight: bold;
}
.balance {
  background: #323a5f;
  border-radius: 19px;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  color: #4d9cb1;
  padding: 0 13px;
  cursor: pointer;
}
.balanceText {
  line-height: 38px;
  font-family: Helvetica-Bold, Helvetica;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(256deg, #6dd400 0%, #ffd978 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wallet {
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  background: #323a5f;
  border-radius: 19px;
  padding: 0 15px;
  font-size: 16px;
  font-family: Helvetica;
  color: #a1a8ff;
  text-transform: none;
  /* margin-left: 15px; */
}
.settings {
  width: 57px;
  cursor: pointer;
  height: 38px;
  line-height: 36px;
  background: #323a5f;
  border-radius: 19px;
  color: #fff;
  /* margin-left: 15px; */
}
