.nswaplogo {
  width: 110px;
  height: 43px;
}

.header {
  text-align: center;
}
.menuBox {
  font-size: 18px;
  font-family: Helvetica;
  color: #ffffff;
  padding: 0 8px;
  text-transform: none;
}
.menuBox input:checked + .menu {
  font-family: Helvetica-Bold, Helvetica;
  font-weight: bold;
}

.menuBox input:hover + .menu {
  cursor: pointer;
}
.balance {
  background: #323a5f;
  border-radius: 19px;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  font-family: Helvetica;
  color: #4d9cb1;
  padding: 0 13px;
  cursor: pointer;
}
.wallet {
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  background: #323a5f;
  border-radius: 19px;
  padding: 0 15px;
  font-size: 16px;
  font-family: Helvetica;
  color: #a1a8ff;
  text-transform: none;
  /* margin-left: 15px; */
}
.settings {
  width: 57px;
  cursor: pointer;
  height: 38px;
  line-height: 36px;
  background: #323a5f;
  border-radius: 19px;
  color: #fff;
  /* margin-left: 15px; */
}
